<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script>
  window.images = {
    route_builder_img: "<%= asset_path("route-list-graphic.png") %>",
  }
</script>

<main id="root"></main>

