.activity-index-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    padding-top: 45px;
}

// @media only screen and (max-width: 1600px) {
//     .activity-index-container {

//         th {
//             width: 10.75em;
//         }

//         td {
//             width: 10.75em;
//         }
//     }
// }

@media (min-width: 600px) {
    .activity-index-container {
        min-height: 94vh;
    }
}
////////
.activity-heading {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    
}

.activity-counting {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.activity-index-bar {
    margin-bottom: 30px;
    margin-top: 20px;
}

.activity-index-bar,
h2 {
    font-size: 18;
}

.activities-table {
    table-layout: fixed;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.activity-table-head {
    font-weight: 900;
    box-sizing: border-box;
    padding: 8px;
    
}

.activites-index-list {
    display: table-row-group;
}

.act-col {
    background-color: #e6e6ec;
    width: 90px;
    height: 36px;
}

.view-col {
    display: table-cell;
    padding-top: 22px;
    padding-bottom: 10px;
    height: 35px;
    word-wrap: break-word;
    vertical-align: top;
    border-bottom: 1px solid #e6e6eb;
}

.col-sport {
    text-align: center;
    padding-top: 22px;
}

.col-time,
.col-distance,
.col-elevation {
    text-align: center;
}

.col-date,
.col-title {
    text-align: center;
}

.col-actions {
    text-align: center;
}

.activity-action-list {
    list-style: none;

}

#delete-activity-btn {
    border: none;
    background: inherit;
    color: #007fb6;
}

tr:nth-child(even) {
    background-color: #f5f5fa
}


#create-activity-btn {
    background-color: #ff5900;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    color: white;
    position: relative;
    left: 0;
    margin-top: 10px;
}

#create-activity-btn a {
    color: white;
    font-size: 14px
}

.col-title a {
    color: #437fa9;
}