.dash-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f5f5fa;
    height: 100%;
    position: fixed;
    top: 51px;
   
}

.col {
    height: 100vw;
    margin-left: 10vw; //
    top: 0;            ///
    position: sticky;  //
}

.dashboard-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    min-width: 600px;
    margin: auto;
    background-color: #f5f5fa;
}

.left-col {
    width: 25%;
    background-color: #f5f5fa;
    padding: 16px;
    margin-top: 64px;
    min-width: 300px;    ///
    margin-left: 150px;
}

.right-col {
    min-width: 250px;
    background-color: #f5f5fa;
    margin-right: 250px;
    // margin-left: 50px;
}

.dashboard-feed {

    width: 50%;
    background-color: #f5f5fa;
    padding: 16px;
    min-width: 800px;  //600px
    height: 100%;
    // overflow: scroll;
}

// .feed-container {
//     overflow: scroll;
// }

.col-div {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    // width: 364px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;

}

.card-body {
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

#username {
    font-size: 25px;
    color: #2d2d32;
    font-weight: 700;
    position: absolute;
    top: 15px;
    
}

.prof-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    // background: red;
    position: absolute;
    overflow: hidden;
    margin-top: -90px;
    cursor: pointer;
    text-align: center;
    // margin: auto;
    // box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.16);
    background-image: url("https://i.ibb.co/6vJsWkG/1.jpg");
    background-size: cover;
    
}



// .header-container {
//     width: 100%;
//     border-bottom: solid 1px #e6e6eb;
//     position: fixed;
//     z-index: 10;
    
// }

.header-container {
    font-size: 16px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 0 0 0 32px;
    align-items: center;
    height: 53px;
    position: fixed;
    width: 100%;
    border-bottom: .5px solid lightgray;
    z-index: 30;
}
.navbar-side {
    display: flex;
    margin-left: 20px;
    min-width: 900px;
    width: 70%;
    justify-content: flex-end;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: orangered;
    letter-spacing: -1.2px;
    text-decoration: none;
    margin: 3px;
    padding-right: 50px;
}

@media only screen and (max-width: 1600px) {
    .navbar-side {
        width: 100%;
    }
}

// @media only screen and (min-width: 1210px) {
//     .left.col {
//         padding-left: 0px;
//     }
// }

/////////////////////////////////////////
// .user-stats {
//     display: flex;
//     justify-content: space-evenly;
//     // border-bottom: 1px solid gray;
// }
/////////////////////////////////////////


// .following {
//     position: absolute;
//     text-align: center;
//     bottom: 30px;
//     left: -130px;
//     padding-top: 20px;
// }


// .followers {
//     position: absolute;
//     text-align: center;
//     bottom: 30px;
//     left: -20px;
//     padding-top: 20px;
// }

// .activities {
//     position: absolute;
//     text-align: center;
//     bottom: 30px;
//     left: 80px;
//     padding-top: 20px;
// }

/////////////////////////////////////////

.dash-stats {
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 30px;

}

.act-title {
    padding-bottom: 5px;
    // font-weight: 700;
    font-size: 14px;
    padding-left: 30px;
    
}

.act-title li {
    color: #242428;
}

.act-title li



    // .total-stats-stat {
    //     text-align: center;
    //     padding-top: 40px;
    //     justify-content: space-evenly;

    //     h3 {
    //         padding-top: 5px;
    //         font-size: 18px;
    //         font-weight: 400;
    //         line-height: 1;
    //         // justify-content: space-around;
    //     }
    // }

    // div {
    //     // margin-top: 20px;
    //     display: flex;
    //     justify-content: space-around;
    //     width: 90%;
    //     border-bottom: 1px solid #E6E6EB;
    //     padding-bottom: 20px;
    //     margin-bottom: 20px;
//     // }
// }

// .upper-card {
//     display: flex;
//     justify-content: space-around;
//     width: 90%;
//     padding-bottom: 20px;
//     margin-bottom: 20px;
//     // border-bottom: 1px solid red;
    
// }



.upper-card h3 {
    margin-top: 10px;
    
}



.latest-activity .lates-act-container {
    
    // margin-top: 10px;
    // padding-right: 100px;
    font-size: 14px;
    width: 280px;
    border-bottom: 1px solid #e6e6eb;
    padding-bottom: 10px;
    padding-top: 20px;
   
   
}

.latest-activity a {
    color: black;
    cursor: pointer;
}

.section {
    border-top: 1px solid #e6e6eb;
    padding-top: 24px;
    padding-bottom: 24px;

}

.section:first-child {
    margin-top: 64px;
    border-top: none;
}

.media {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.media-object {
    margin-right: 15px;
    padding-right: 0;
    box-sizing: border-box;
}

.media-img {
    display: block;
    width: 48px;
    height: 48px;
}

.media-body {
    -webkit-box-flex: 1;
    flex: 1 1;
    box-sizing: border-box;
}

.media-title {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.media-text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
}

.media-link {
    color: #fc4c02;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    will-change: color;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.no-acts a {
    color: #437fa9;
}

.tabbed-card {
    width: 100%;
    height: 340px;
    background: white;
    border-radius: 3px;
    margin-top: 3px;
}

.tabs {
    margin: 0;
    display: table;
    width: 100%;
    border: none;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
}

.tabs>li {
    float: none;
    display: table-cell;
    text-align: center;
    transition: border-color 0.1s ease;
}

.icon-btn {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #f5f5fa;
    cursor: pointer;
}

.icon-btn:active {
    background-color: white;

}

.icon-btn:focus {
    background-color: white;
    outline: none;
}


.icon-btn:hover {
    background: white;
}

.rides {
    border: none;
}

.tab {
    height: 50px;

}

.tab1 {
    border-right: 2px solid #f5f5fa;
}

.tab:hover {
    border-radius: 5px;
}

.second-card-body {
    padding: 16px;
    border: none;
    height: 130px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

.message-container {
    margin: 0px;
    padding: 16px;
    background-color: #f5f5fa;
    width: 100%;
}

.message-chev-container {
    position: relative;
    padding-right: 15px;
    width: 10%;
    height: 100%;

}

#chev {
    position: absolute;
    top: 25px;
    background-image: url("");
    display: inline-block;
    background-size: cover;
    height: 26px;
    width: 18px;
}

.message-body {
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 50px;
    width: 180px;
    line-height: 20px;
}

#hydrate {
    color: orangered;
}

.total-stats {
    font-size: 11;
    text-align: center;
    font-weight: 300;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.primary-stats {
    font-size: 20px;
    text-align: center;
    color: #79d7bd;
    width: 100%;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.stat-icon {
    background-size: cover;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 10px
}

#bike {
    background-image: url("https://cdn4.iconfinder.com/data/icons/real-estate-line-1-1/256/Bikecycle_512x512-512.png");
}

#run {
    background-image: url("https://static.thenounproject.com/png/1473807-200.png");
}

//////////////////////////////////////new added
.followers-following-Activities {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e6e6eb;
    padding-bottom: 10px;
    padding-top: 50px;
    width: 280px;


    div { 
        padding-left: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 12px;
        font-weight: 400;
        color: #606065;
        line-height: 1.2;
    }

    p {
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        margin-top: 3px;
    }


}

#short-border-right {
    border-right: 1px solid #e6e6eb;
    height: 88%;
    width: 1px;
    margin-top: 2%;

}


////////////////////////////////////////////////////////////////@extend
.dashboard-link {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 25px;
    width: 80%;
    color: #242428;
    font-size: 14px;

    &:hover {
        color: #007FB6;

        .fa-chevron-right {
            transition: .3s;
            margin-left: 10px;
        }
    }
}

.fa-chevron-right {
    transition: .3s;
}

.chevron-container {
    width: 20px;

}

.dashboard-activity-title {
    padding: 12px;
    font-size: 17px;
    min-width: 150px;
    display: flex;
    padding-left: 120px;
}

//////////////////////
.promo-card {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(1, 1, 15, 0.04);
    border-radius: 4px;
    height: 420px;
    width: 570px;
    margin-left: 115px;
}

.promo-image {
    height:70%;
    background-image: url('image888.jpg');
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.promo-content {
    padding: 0.5rem 1.5rem;
}

.promo-content p {
    font-size: 15px;
}

.promo-content strong {
    font-weight: bold;
}

.promo-content button {
    color: white;
    background-color: orangered;
    text-align: center;
    padding: 8px 10px;
    border-radius: 4px;
    // font-size: 0.95rem;
    // margin-top: 0.65rem;
    border: 1px solid gray;
    font-weight: bold;

    &:hover {
        background-color: orangered;
        cursor: pointer;
    }
}